.container-fluid
{
    background-color: bisque;
}

.navbar-brand
{
    color: firebrick;
    text-decoration-line: underline;
    font-weight: 900;
}

.nav-link
{
    color: maroon;
}

.form-control
{
background-color: lightblue;
}

.btn-primary mx-3
{
    color: lightcyan;
}

h1
{
color: darkred;
font-weight: 400;
}

h2
{
    font-weight: 400;
    text-align: center;
    color: brown;
}

p
{
    outline: 5px dotted slategray;
    text-align: center;
    background-color: lightcyan ;
}
